.content {
  padding: 30px;
  border-radius: 5px;
  &--green {
    background-color: turquoise;
  }
  &--yellow {
    background-color: yellow;
  }
  &--red {
    background-color: tomato;
  }
  &__title {
    text-align: center;
    margin-bottom: 15px;
    &--color {
      color: dimgray;
    }
  }
  &__image {
    display: block;
    margin: 0 auto 15px;
  }
}